{{#section "service"}}
<hr>
<section id="service">
  {{#> header-samples }}
    {{> header-icon _title="SERVICE" _section="service" _hdricon=(lookup . '_icon') }}
  {{/header-samples}}
  {{#each r.service.history}}
    {{#> body-service }}
    <div>
    <h3><em>{{ position }}</em>,
      {{#if url}}
      <a href="{{{ url }}}">{{ organization }}</a>
      {{else}}
      {{ organization }}
      {{/if}}
    </h3>
    <span class="tenure">{{dateRange .}}</span>
    {{#if location}}<span class="location">{{location}}</span>{{/if}}
    <p>{{{ summary }}}</p>
    {{> highlights }}
    </div>
    {{/body-service }}
  {{/each}}
</section>
{{/section}}
